/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/04/18, 23:24:02
    Author     : pinball73
*/

.test {
  margin: 0;
  padding: 0;
}

.test2{
  display: none;
}

